<%= form_with(model: @task, local: true) do |form| %>

  <% if @task.errors.any? %>
    <div id = "error_explanation">
      <h1><%= @task.errors.count %>件のエラーがあります。</h1>
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "task_name-field">
    <%= form.label :タスク %><br>
    <%= form.text_field :task_name %>
  </div>

  <div class = "task_content-field">
    <%= form.label :タスク内容 %><br>
    <%= form.text_area :task_content %>
  </div>

    <div class = "expiration_deadline-field">
    <%= form.label :タスク内容 %><br>
    <%= form.date_field :expiration_deadline %>
  </div>

  <%= form.submit 'タスク登録' %>

<% end %>
