<h1>タスク一覧画面</h1>

<%= form_with( model: Task.new , url: tasks_path, method: :get, local: true) do |form| %>
  <%= form.label :タスク名： %>
  <%= form.text_field :name %>
  <%= form.label :ステータス： %>
  <%= form.select :status, Task.statuses.keys, include_blank: '-' , selected: '-' %>
  <%= form.select('label_id', Label.pluck(:name, :id), { include_blank: '-' }) %>
  <%= form.submit '検索' %>
<% end %>
<%= link_to '新規タスク登録', new_task_path, class:"btn btn-primary" %>
<%= link_to '終了期限を降順', tasks_path( sort_expired: "true" ), class: "btn btn-default" %>
<%= link_to '優先順位でソートする', tasks_path( sort_priority: "true" ), class: "btn btn-default" %>
<table class="table">
  <tr>
    <th>タスク</th>
    <th>内容</th>
    <th>終了期限</th>
    <th>ステータス</th>
    <th>優先順位</th>
    <th>ラベル</th>
  </tr>
<% @tasks.each do |task| %>
  <tr>
    <td class="task_row"><%= task.name %></td>
    <td><%= task.content %></td>
    <td><%= task.expiration_deadline %></td>
    <td><%= task.status %></td>
    <td><%= task.priority %></td>
    <td>
      <% task.labels.each do |label| %>
        <%= label.name %>
      <% end %>
    </td>
    <td><%= link_to '詳細', task, class: "btn btn-info" %></td>
    <td><%= link_to '編集', edit_task_path(task.id), class: "btn btn-success"  %></td>
    <td><%= link_to '削除', task, method: :delete, class: "btn btn-danger" %></td>
  </tr>
<% end %>
</table>

<%= paginate @tasks %>
