<h1>詳細画面</h1>

<table class="table">
  <tr>
    <th>タスク</th>
    <th>内容</th>
    <th>終了期限</th>
    <th>ステータス</th>
    <th>優先順位</th>
    <th>ラベル</th>
  </tr>
  <tr>
    <td><%= @task.name %></td>
    <td><%= @task.content %></td>
    <td><%= @task.expiration_deadline %></td>
    <td><%= @task.status %></td>
    <td><%= @task.priority %></td>
      <% @task.labels.each do |label| %>
        <td><%= label.label_name %></td>
      <% end %>
  </tr>
</table>
<%= link_to '編集', edit_task_path, class: "btn btn-success" %>
<%= link_to '削除', @task, method: :delete, class: "btn btn-danger" %>
<%= link_to '一覧画面へ戻る', tasks_path, class: "btn btn-default"%>
