<%= link_to '管理画面', admin_users_path, class: "btn btn-default"%>
<%= link_to 'タスク管理へ', tasks_path, class: "btn btn-default"%>

<div class='profile'>
  <p><%= @user.user_name %>のページ</p>
  <p>メールアドレス: <%= @user.user_email %></p>
</div>

<p class='user-show-label'>終了間近のタスク</p>
  <table class="table">
    <tr>
      <th>タスク</th>
      <th>内容</th>
      <th>終了期限</th>
      <th>ステータス</th>
      <th>優先順位</th>
    </tr>
    <% @near_the_end_task.each do |task| %>
      <tr>
        <td><%= task.task_name %></td>
        <td><%= task.task_content %></td>
        <td><%= task.expiration_deadline %></td>
        <td><%= task.status %></td>
        <td><%= task.priority %></td>
      </tr>
    <% end %>
  </table>

<hr>

<p class='user-show-label'>期限切れのタスク</p>
  <table class="table">
    <tr>
      <th>タスク</th>
      <th>内容</th>
      <th>終了期限</th>
      <th>ステータス</th>
      <th>優先順位</th>
    </tr>
    <% @expired_task.each do |task| %>
      <tr>
        <td><%= task.task_name %></td>
        <td><%= task.task_content %></td>
        <td><%= task.expiration_deadline %></td>
        <td><%= task.status %></td>
        <td><%= task.priority %></td>
      </tr>
    <% end %>
  </table>
