<%= link_to '管理者用 新規ユーザー登録', new_admin_user_path, class:"btn btn-primary admin-new-btn" %>

<p class='admin-label'>管理画面：ユーザー一覧</p>

<table class="table">
  <tr>
    <th>ユーザー名</th>
    <th>タスクの数</th>
    <th>管理者</th>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td><%= user.username %></td>
    <td><%= user.task_ids.count %></td>
    <td><%= user.admin %></td>
    <td><%= link_to '詳細', admin_user_path(user), class: "btn btn-info" %></td>
    <td><%= link_to '編集', edit_admin_user_path(user), class: "btn btn-success"  %></td>
    <td><%= link_to '削除', admin_user_path(user), method: :delete, class: "btn btn-danger", data: { confirm: 'ユーザーを削除しますか？' } %></td>
  </tr>
<% end %>
</table>

<%= paginate @users %>
